<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
    <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet">
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Update name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <span class="validationError"
        th:if="@{fields.hasErrors('name')}"
        th:errors="*{name}">nameError</span>
    <br/>

    <label for="age">Update age</label>
    <input type="number" th:field="*{age}" id="age"/>
    <span class="validationError"
        th:if="@{fields.hasErrors('age')}"
        th:errors="*{age}">ageError</span>
    <br/>

    <label for="email">Update email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <span class="validationError"
        th:if="@{fields.hasErrors('email')}"
        th:errors="*{email}">emailError</span>
    <br/>

    <label for="password">Update password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <span class="validationError"
          th:if="@{fields.hasErrors('password')}"
          th:errors="*{password}">passError</span>
    <br/>

    <label for="roles">Choose roles</label>
    <input type="checkbox" th:field="*{currentRoles}" id="roles"
           th:each="role:${allRoles}"
           th:text="${role.getTitle().replace('ROLE_', '').toUpperCase()}"
           th:value="${role.getId()}"/>
    <span class="validationError"
          th:if="@{fields.hasErrors('currentRoles')}"
          th:errors="*{currentRoles}">rolesError</span>

    <input type="submit" value="Update"/>
</form>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>
</body>
</html>