<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet"/>
</head>
<body>
<form th:method="POST" th:action="@{/admin/newuser}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <span class="validationError"
          th:if="@{fields.hasErrors('name')}"
          th:errors="*{name}">nameFieldError</span>
    <br/>

    <label for="age">Enter age</label>
    <input type="number" th:field="*{age}" id="age"/>
    <span class="validationError"
          th:if="@{fields.hasErrors('age')}"
          th:errors="*{age}">ageFieldError</span>
    <br/>

    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <span class="validationError"
          th:if="@{fields.hasErrors('email')}"
          th:errors="*{email}">emailFieldError</span>
    <br/>

    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <span class="validationError"
          th:if="@{fields.hasErrors('password')}"
          th:errors="*{password}">passFieldError</span>
    <br/>

    <label for="roles">Choose roles</label>
    <input type="checkbox" th:field="*{currentRoles}" id="roles"
           th:each="role:${rolesSet}"
           th:text="${role.getTitle().replace('ROLE_', '').toUpperCase()}"
           th:value="${role.getId()}"
    />

    <span class="validationError"
          th:if="@{fields.hasErrors('currentRoles')}"
          th:errors="*{currentRoles}">rolesError</span>
    <br/>

    <input type="submit" value="create"/>
</form>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>
</body>
</html>