<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<title>StartPage</title>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>StartPage</title>
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>
<body>
<nav class="navbar navbar-dark bg-dark justify-content-between">
    <div class="navbar-brand" id="navbarcaption"></div>
    <form class="form-inline" method="POST" action="/logout">
        <input class="form-control mr-sm-2 text-white bg-dark" type="submit" value="LOGOUT" />
    </form>
</nav>
<br />
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills col-2 me-3 bg-white" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active text-left" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin </a>
        <a class="nav-link text-left" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User </a>
    </div>
    <div class="tab-content col bg-light" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <header class="h1">Admin Panel</header>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#allusers" role="tab" aria-controls="pills-home" aria-selected="true">Users Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#newuser" role="tab" aria-controls="pills-profile" aria-selected="false">New User</a>
                </li>
            </ul>
            <div class="container">
                <div class="row align-items-center">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active users" id="allusers" role="tabpanel" aria-labelledby="pills-home-tab">
                            <header class="h3">All Users</header>
                            <table class="users__table" id="pivotTable">
                                <thead class="users__header">
                                <tr>
                                    <th class="users__header-cell users__cell col">Name</th>
                                    <th class="users__header-cell users__cell col">Age</th>
                                    <th class="users__header-cell users__cell col">Email</th>
                                    <th class="users__header-cell users__cell col">Password</th>
                                    <th class="users__header-cell users__cell col">Roles</th>
                                    <th class="users__header-cell users__cell col">Update</th>
                                    <th class="users__header-cell users__cell col">Remove</th>
                                </tr>
                                </thead>
                                <tbody id="summaryuserstable">
                                <!--                                <tr>-->
                                <!--                                    <td class="users__cell">User1</td>-->
                                <!--                                    <td class="users__cell">Age1</td>-->
                                <!--                                    <td class="users__cell">email1@email.com</td>-->
                                <!--                                    <td class="users__cell">pass1</td>-->
                                <!--                                    <td class="users__cell">ADMIN USER</td>-->
                                <!--                                    <td class="users__cell">-->
                                <!-- Button trigger modal -->
                                <!--                                        <button type="button" class="btn btn-primary button button&#45;&#45;edit"-->
                                <!--                                                data-toggle="modal" data-target="#exampleModal">-->
                                <!--                                            <a class="link">Edit</a>-->
                                <!--                                        </button>-->
                                <!--                                        &lt;!&ndash; Modal &ndash;&gt;-->
                                <!--                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"-->
                                <!--                                             aria-labelledby="exampleModalLabel" aria-hidden="true">-->
                                <!--                                            <div class="modal-dialog" role="document">-->
                                <!--                                                <div class="modal-content">-->
                                <!--                                                    <div class="modal-header">-->
                                <!--                                                        <h5 class="modal-title" id="exampleModalLabel">Edit User1</h5>-->
                                <!--                                                        <button type="button" class="close" data-dismiss="modal"-->
                                <!--                                                                aria-label="Close">-->
                                <!--                                                            <span aria-hidden="true">&times;</span>-->
                                <!--                                                        </button>-->
                                <!--                                                    </div>-->
                                <!--                                                    <div class="modal-body">-->
                                <!--                                                        ...-->
                                <!--                                                    </div>-->
                                <!--                                                    <div class="modal-footer">-->
                                <!--                                                        <button type="button" class="btn btn-secondary"-->
                                <!--                                                                data-dismiss="modal">Close-->
                                <!--                                                        </button>-->
                                <!--                                                        <button type="button" class="btn btn-primary">Save changes-->
                                <!--                                                        </button>-->
                                <!--                                                    </div>-->
                                <!--                                                </div>-->
                                <!--                                            </div>-->
                                <!--                                        </div>-->
                                <!--                                    </td>-->
                                <!--                                    <td class="users__cell ">-->
                                <!--                                        <form>-->
                                <!--                                            <button class="button button&#45;&#45;delete">Delete</button>-->
                                <!--                                        </form>-->
                                <!--                                    </td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <td class="users__cell">User2</td>-->
                                <!--                                    <td class="users__cell">Age2</td>-->
                                <!--                                    <td class="users__cell">email2@email.com</td>-->
                                <!--                                    <td class="users__cell">pass2</td>-->
                                <!--                                    <td class="users__cell">USER</td>-->
                                <!--                                    <td class="users__cell">-->
                                <!--                                        <button class="button button&#45;&#45;edit">-->
                                <!--                                            <a class="link">Edit</a>-->
                                <!--                                        </button>-->
                                <!--                                    </td>-->
                                <!--                                    <td class="users__cell ">-->
                                <!--                                        <form>-->
                                <!--                                            <button class="button button&#45;&#45;delete">Delete</button>-->
                                <!--                                        </form>-->
                                <!--                                    </td>-->
                                <!--                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade col align-items-center" id="newuser" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <form id="addUser">
                                <div class="form-group">
                                    <label for="inputFullName">Full Name</label>
                                    <input type="text" class="form-control" id="inputFullName" aria-describedby="nameHelp" placeholder="Enter Full Name" />
                                </div>
                                <div class="form-group">
                                    <label for="inputAge">Age</label>
                                    <input type="number" class="form-control" id="inputAge" placeholder="Age" />
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" />
                                </div>
                                <div class="form-group">
                                    <label for="formControlSelector">Example multiple select</label>
                                    <select multiple class="form-control" id="formControlSelector"> </select>
                                </div>
                                <button type="submit" class="btn btn-primary" onclick="createUser()">Create User</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <header class="h1">User Information Page</header>
            <table class="users__table" id="principalusertable">
                <thead class="users__header col">
                <tr>
                    <th class="users__header-cell users__cell col">Name</th>
                    <th class="users__header-cell users__cell col">Age</th>
                    <th class="users__header-cell users__cell col">Email</th>
                    <th class="users__header-cell users__cell col">Password</th>
                    <th class="users__header-cell users__cell col">Roles</th>
                </tr>
                </thead>
                <tbody id="principaltablebody"></tbody>
            </table>
        </div>
    </div>
</div>
<button onclick="getData()">renew</button>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
</html>
