<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>PersonalUserPage</title>
    <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet">
</head>
<body>
<div class="users">
    <table class="users__table">
        <thead class="users__header">
        <tr>
            <th class="users__header-cell users__cell">Name</th>
            <th class="users__header-cell users__cell">Age</th>
            <th class="users__header-cell users__cell">Email</th>
            <th class="users__header-cell users__cell">Password</th>
            <th class="users__header-cell users__cell">Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="users__cell"th:text="${user.getName()}"></td>
            <td class="users__cell" th:text="${user.getAge()}"></td>
            <td class="users__cell" th:text="${user.getEmail()}"></td>
            <td class="users__cell" th:text="${user.getPassword()}"></td>
            <td class="users__cell" th:text="${user.getRolesString()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>
</body>
</html>